<%@articles.each do |a|%>
<section class="clearfix">
    <h1><a href="<%=a.published_in.to_s.gsub("-", "/")%>/<%= a.slugs[-1]%>/"><%= a.title%></a></h1>
    	<% if a.position_image_highlighted.downcase != "none" %>
        <figure class="<%= a.position_image_highlighted.downcase%>">
            <%= image_tag(a.image_highlighted, alt: "Edit Entry") %>
            <figcaption><%=a.figure_caption%>  </figcaption>
        </figure>
        <% end %>
        <%=a.description.html_safe%>  
    <a href="<%=a.published_in.to_s.gsub("-", "/")%>/<%= a.slugs[-1]%>/" class="contLendo">  Continue Lendo...
    </a>
</section>
<%end%>