<section>
    <h1>Contato</h1> 
	<p>Entre em contato comigo. Seus comentários e sugestões são muito importantes.</p>
	<%= form_tag("/contato/enviar", method: "post") do %>
		<%= label_tag :nome, "Nome:" %>
  		<%= text_field_tag :nome %>
	    <%= label_tag :email, "Email:" %>
  		<%= text_field_tag :email %>
	    <%= label_tag :assunto, "Assunto:" %>
  		<%= text_field_tag :assunto %>
	    <%= label_tag :mensagem, "Mensagem:" %>
	    <%= text_area_tag :mensagem %>
	    <%= submit_tag "Enviar" %>
	<% end %>
</section>
